<div class="layout-topbar">
    <div style="padding-left: 10px;">

        <a class="layout-topbar-logo" routerLink="/dash">
            <img src="assets/layout/images/logo-blue.svg" width="40" alt="logo">
            <span>Cours</span>
        </a>
    </div>


    <i *ngIf="networkStatus" class="pi pi-sort-alt" style="color: #22C55E;"></i>
    <i *ngIf="!networkStatus" class="pi pi-sort-alt-slash" style="color: #EF4444;"></i>

    <div style="padding-right: 10px;">

        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span>Profile</span>
        </a>
    </div>
        
</div>