<p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home', routerLink: '/dash'}"></p-breadcrumb><br>
<app-network></app-network>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Liste des modules</h5>
			<p-dataView #dv [value]="modules" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
						<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier par date" (onChange)="onSortChange($event)"></p-dropdown>
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-module pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							<img [src]="'assets/api/images/' + module.image" [alt]="module.name" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
							<div class="flex-1 text-center md:text-left">
								<div class="font-bold text">{{module.name}}</div>
								<div class="mb-3">{{module.date}}</div>
								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{module.tags}}</span>
								</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<p-button [routerLink]="['/modules/details', module.id]" icon="pi pi-eye" label="Voir le module" class="mb-2"></p-button>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-module pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="card m-3 border-1 surface-border">
							<div class="flex align-items-center justify-content-between">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{module.tags}}</span>
								</div>
							</div>
							<div class="text-center">
								<img [src]="'assets/api/images/' + module.image" [alt]="module.name" class="w-9 shadow-2 my-3 mx-0"/>
								<div class="text-l font-bold">{{module.name}}</div>
								<div class="mb-3">{{module.date}}</div>
							</div>
							<div class="flex align-items-center justify-content-end">
								<p-button [routerLink]="['/modules/details', module.id]" icon="pi pi-eye"></p-button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>
</div>