.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

::ng-deep {

    .p-timeline-event-content,
    .p-timeline-event-opposite {
        line-height: 1;
    }
}

#sign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#button {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
    #sign {
        display: block;
        width: 100%;
        h5{
            text-align: center;
        }
    }
    #button {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    ::ng-deep {
        .customized-timeline {
            .p-timeline-event:nth-child(even) {
                flex-direction: row !important;

                .p-timeline-event-content {
                    text-align: left !important;
                }
            }

            .p-timeline-event-opposite {
                flex: 0;
            }

            .p-card {
                margin-top: 1rem;
            }
        }
    }
}

div.p-dialog-footer {
    display: flex !important;
    justify-content: space-between !important;
}