<p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home', routerLink: '/dash'}"></p-breadcrumb><br>

<app-network></app-network>

<p-messages *ngIf="module.isClosed" [value]="[{ severity: 'error', summary: 'Module clos', detail: 'Le module est clos. Aucune action ne peut être effectué.' }]"></p-messages>

<p-dialog header="QR Code de signature" [(visible)]="displayQrCode" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0 text-center">
        <qr-code [value]="qrCode" [size]="200"></qr-code>
    </p>
</p-dialog>

<p-dialog header="Visionner le commentaire" [(visible)]="displayComment" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <textarea pInputTextarea [(ngModel)]="comment" autoResize rows="3" cols="30" style="width: 100%;"></textarea>
</p-dialog>

<p-dialog header="Ajouter un commentaire" [(visible)]="displayAddComment" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <textarea pInputTextarea placeholder="Votre commentaire" [(ngModel)]="comment" autoResize rows="3" cols="30" style="width: 100%;"></textarea>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="saveComment()" label="Enregistrer" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog header="Clôturer le module" key="confirm1"
[style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}" acceptButtonStyleClass="p-button-text p-button-danger" rejectButtonStyleClass="p-button-text p-button-primary"></p-confirmDialog>

<p-dialog header="Signature des élèves" [(visible)]="displaySign" modal="modal" showEffect="fade" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0 text-center">
        <p-table [value]="module.students" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="Stagiaire">Stagiaire <p-sortIcon field="Stagiaire"></p-sortIcon></th>
                    <th>Signature</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student>
                <tr>
                    <td style="width: 60%; min-width: 5rem;">
                        {{ student.lastName | uppercase }} {{ student.firstName | titlecase }}
                    </td>
                    <td style="width: 30%; text-align: right;">
                        <img *ngIf="student.signStatus == 'Signé' && student.sign !== null" width="100" height="50" [src]="student.sign">
                        <button *ngIf="student.signStatus != 'Signé'" pButton pRipple type="button" (click)="showSignForStudent(student)" icon="pi pi-pencil" class="p-button-primary m-2 p-button-outlined"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
    </p>
</p-dialog>

<p-dialog header="Signature" [(visible)]="showSign" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <app-sign (hasSigned)="storeSign($event)"></app-sign>
        
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-save" (click)="saveSign()" label="Enregistrer" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>

<div class="grid">

    <div class="col-12 xl:col-6">
        <div class="card">
            <!-- class="flex align-items-center justify-content-between mb-2" -->
            <div id="sign">
                <h5>Signatures ({{ module.students.length }} élèves)</h5>
                <div>
                    <div id="button">
                        <!--class="flex align-items-center justify-content-end"-->

                        <button pButton pRipple type="button" [disabled]="module.isClosed" (click)="closeModule()" icon="pi pi-times" class="p-button-danger m-2 p-button-outlined"></button>

                        <button pButton pRipple type="button" [disabled]="module.isClosed" (click)="displaySign=true" icon="pi pi-pencil" class="p-button-primary m-2 p-button-outlined"></button>
                        <button pButton pRipple type="button" [disabled]="module.isClosed || !Network.networkStatus || sendedSigns" (click)="sendSignMail()" icon="pi pi-envelope" class="p-button-primary m-2 p-button-outlined"></button>
                        <button pButton pRipple type="button" [disabled]="module.isClosed || !Network.networkStatus || sendedSigns" (click)="generateQrCode()" icon="pi pi-qrcode" class="p-button-primary m-2 p-button-outlined"></button>
                    </div>
                </div>
            </div>
            <p-toast key="tst" [baseZIndex]="99999"></p-toast>
            <p-table [value]="module.students" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="Stagiaire">Stagiaire <p-sortIcon field="Stagiaire"></p-sortIcon></th>
                        <th pSortableColumn="Signature"  style="text-align: center;">Signature <p-sortIcon field="Signature"></p-sortIcon>
                        </th>
                        <th style="text-align: right;">Commentaire
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <td style="width: 40%; min-width: 5rem;">
                            {{ student.lastName | uppercase }} {{ student.firstName | titlecase }}
                        </td>
                        <td style="width: 20%; min-width: 7rem; text-align: center;">{{ student.signStatus }}</td>
                        <td style="width: 40%; text-align: right;">

                            <button *ngIf="module.isClosed" (click)="showComment(student)" pButton pRipple type="button" icon="pi pi-eye"
                            [ngClass]="{'p-button p-component p-button-text p-button-icon-only': true, 'p-button-success': student.comment != null && student.comment != ''}"></button>

                            <button *ngIf="!module.isClosed" (click)="showAddStudentComment(student)" pButton pRipple type="button" icon="pi pi-pencil"
                                [ngClass]="{'p-button p-component p-button-text p-button-icon-only': true, 'p-button-success': student.comment != null && student.comment != ''}"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="grid mb-2">
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card mb-0">
                    <div class="flex justify-content-between">
                        <div class="flex align-items-center">
                            <span class="block mb-0 text-500 font-medium">{{ module.date }}</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-calendar text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="card mb-0">
                    <div class="flex justify-content-between">
                        <div>
                            <span [ngClass]="['block mb-0 text-500 font-medium', !isLast ? 'mb-2' : 'mb-0']" *ngFor="let teacher of module.teachers; let isLast = last;">{{ teacher }}</span>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <p-timeline [value]="customEvents" layout="horizontal" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                        <i [ngClass]="event.icon"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    {{ event.name }}
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    &nbsp;
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>