
    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
      <div class="grid">
          <div class="col-12 md:col-6 lg:col-4" style="cursor: pointer;">
              <div class="surface-card shadow-2 p-3 border-round" routerLink="/modules/list">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Mes modules</span>
                          <div class="text-900 font-medium text-xl">{{ modules.length }}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-qrcode text-blue-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">{{ curseThisWeek }} </span>
                  <span class="text-500">cette semaine</span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Signatures</span>
                          <div class="text-900 font-medium text-xl">{{ signedCount }}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-pencil text-orange-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-orange-500 font-medium">{{ notSignedCount }} </span>
                  <span class="text-500"> signatures en attente </span>
              </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4">
              <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                      <div>
                          <span class="block text-500 font-medium mb-3">Mes étudiants</span>
                          <div class="text-900 font-medium text-xl">{{ totalSign }}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                          <i class="pi pi-user text-cyan-500 text-xl"></i>
                      </div>
                  </div>
                  <span class="text-green-500 font-medium">{{ missing }} </span>
                  <span class="text-500">absents</span>
              </div>
          </div>
      </div>
    </div>
    <div class="surface-ground px-4 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-8">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
            <div class="col-12 md:col-6 lg:col-4">
                <div class="surface-card shadow-2 p-2 my-4 border-round">
                    <div class="p-3 text-center">
                        <h5>Cour maintenant</h5>
                        <qr-code [value]="qrCode" [size]="200"></qr-code>
                    </div>
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px' }"></p-progressBar>
                </div>
                <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">Signature du cours</span>
                            <div class="text-900 font-medium text-xl">20</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <i class="pi pi-users text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-orange-500 font-medium">4 </span>
                    <span class="text-500"> n'ont pas encore signé</span>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-topbar-menu-mobile-active surface-ground px-4 md:px-6 lg:px-8">
        <div class="card">
                <div class=" text-center">
                    <h5>Cette semaine</h5>
                </div>
        <p-timeline [value]="events" layout="horizontal">
            <ng-template pTemplate="content" let-event>
                {{event.title}}
            </ng-template>
        </p-timeline>
    </div>
    </div>
